.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
.close {
  width: 100px;
  height: 40px;
  border: 2px outset var(--dark);
  border-radius: 8px;
  background-color: var(--brown);
  cursor: pointer;
  color: var(--purple);
}