.btn {
  margin-left: 0.1em;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--brown);
  border: 2px outset var(--dark);
  color: var(--purple);
  border-radius: 8px;
  width: 100px;
  height: 40px;
}
.input {
  font-size: 1.5em;
  color: var(--dark);
  background-color: var(--light);
}