.result {
  margin: 1em 10em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  border: 2px outset var(--dark);
  background-color: var(--light-transparent);
  color: var(--dark);
  padding: 0.2em;
  padding-bottom: 1em;
  margin: 0.2em;
  min-width: 250px;
  max-width: 300px;
  min-height: 150px;
  justify-content: space-between;
}
.card:hover{
  background-color: var(--brown);
}
.active {
  background-color: var(--brown);;
}
.title {
  font-size: 2em;
  color: var(--dark);
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.description {
  color: var(--purple);
}

.nothing {
  font-size: 2em;
  color: var(--dark);
}
.span {
  color: var(--dark);
}

@media all and (max-width: 1000px) {
  .result{
    margin: 1em 5em;
  }
}

@media all and (max-width: 700px) {
  .result{
    margin: 1em 1em;
  }
  .card{
    min-width: 95%;
    min-height: 100px;
    width: 95%;
  }
}