.flyout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 1.5em;
  color: var(--dark);
  background-color: var(--brown);
  border: 1px solid var(--light);
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
}
.btn {
  margin-left: 0.1em;
  font-size: 0.8em;
  cursor: pointer;
  background-color: var(--dark);
  border: 2px outset var(--light);
  color: var(--light-transparent);
  border-radius: 8px;
  width: 150px;
  height: 40px;
}
.first {
  margin-left: 2em;
}